<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="vue.js"></script>
    <title>VueJS</title>
  </head>
  <body>
    <div id="app">
      <div class="demo" :style="{backgroundColor: color}"></div>
      <div class="demo" :style="myStyle"></div>
      <div class="demo" :style="[myStyle, {height: width+ 'px'}]"></div>
      <hr>
      <input type="text" v-model="color">
      <input type="text" v-model="width">
      <input type="text" v-model="height">
    </div>
    <script src="app.js"></script>
  </body>
</html>
